/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  position: relative;
}
p {
  text-align: justify;
  font-size: large;
  color: black;
}

h3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  align-content: flex-end;
  top: 3px;
  right: 3px;
  z-index: 9997;
}

.header a {
  color: black;
}
.header a:hover {
  /* color: #C8433E; */
  text-decoration: underline;
  color: black;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.nav-link {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.1em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
  color:  #C8433E;
}
/*--------------------------------------------------------------
# home
--------------------------------------------------------------*/
.home {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.jpg") right no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.home .white-box {
  background-color: white;
  border: solid;
  position: relative;
}

@media screen and (min-width: 992px) {
  .home {
    padding-left: 300px;
    padding-top: 320px;
  }

  .home .white-box {
    width: 60vh;
    height: 22vh;
  }
}

.home h1 {
  font-size: 46px;
  text-align: left;
  padding-top: 3%;
  padding-left: 4%;
  font-family: "Special Elite", Arial, Helvetica, sans-serif;
}

.home p {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding-left: 4%;
}

.home p span {
  color: #C8433E;
  letter-spacing: 1px;
  padding-left: 4%;
}


.home .social-links a {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding-left: 1.5rem;
  color: #000;
}

.home .social-links a:hover {
  color: #C8433E;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}


.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 10px;
  left: calc(50% - 60px);
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #872525;
}

#about .content ul {
  list-style: none;
  font-size: large;
}

#about .content a {
  /* color: #C8433E; */
  text-decoration: none;
  color: black;
}

#about .content a:hover {
  /* color: #C8433E; */
  text-decoration: underline;
  color: black;
}

#about .carousel-item{
  width: 100%; /*width you want*/
  height: 80vh; /*height you want*/
  overflow: hidden;
}

#about .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #597F85;
  color: #fff;
}




/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #597F85;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #597F85;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
